@import "../../../App.scss";

.wel-card {
	margin-top: 200px;
	margin-left: 120px;
}

.wel-btn {
	margin-left: 20px;
	margin-right: 50px;
}
.rowWrapper {
    display: flex;
    background-image: url("https://uber-eats-webapp-clone.s3.us-west-1.amazonaws.com/customer-theme.svg");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;

    .card {
        background-color: black;
    }
}

